NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDgd4-G6UtxDlYHO2JKT_3rwg9pkaBTOY8,
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fir-auth-a5374.firebaseapp.com,
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fir-auth-a5374,
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fir-auth-a5374.appspot.com,
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=716986791192
NEXT_PUBLIC_FIREBASE_APP_ID=1:716986791192:web:e814d6d5adcdea03759a6d